# logs
^.log

#test files
test.js
test.html
go/test.*
node/test.*

#pid
^.pid

#dependencies
node_modules/
bower_components/
node/assets/

# go test files
go/modules/*/main.go
go/modules/*/test.go

# node test files
node/modules/*/main.js
node/modules/*/test.js
